.App {
    text-align: center;
    background-color: #C2D7DA;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  .LessonContent{
    margin: 16px;
    padding: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: #87E4D8;
    box-shadow: 0 3px 5px #00ACB1;
  }
  .English{
    text-align: left;
  }
  .Pinyin{
    text-align: center;
  }
  .Chinese{
    text-align: right;
  }
  
  .App-header {
    background-color: #1F6C75;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(209, 199, 199);
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .App-footer{
    background-color: #1F6C75;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgb(209, 199, 199);
  }